
page-basic {
    $tabs-md-tab-color-active :red;
    $tabs-md-tab-color-inactive :red;

    .basic-content {
        background:linear-gradient(to left, #56b5ca 0%, #00ffff 100%);
    .card-title-md {
        display: block;
        font-size: 13px !important;
        line-height: 1.2;
        color: #222;
        margin: 2px 0;
        padding: 8px 0;
    }


    .card-content-md {
        padding: 0px 7px;
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.5;
    }

    .card-title-md {
        display: block;
        font-size: 13px;
        line-height: 1.2;
        color: #222;
        margin: 2px 0;
        padding: 8px 0;
    }



 }
}
