<!--
  Generated template for the KibAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngFor="let itemNama of data;  let i=index">
      <div *ngIf="i < 1">
        Detail Info Kib E


      </div>
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content >

  <ion-fab top right edge *ngFor="let dataId of data">
    <button *ngIf="dataId.koordinat != ''" (click)="maps(dataId.idbi, 'view_kib_c')" ion-fab mini style="background: #ea4e4e;"> <ion-icon ios="ios-pin" md="md-pin"></ion-icon></button>
  </ion-fab>

  <ion-content class="card-content">

    <ion-card  *ngFor="let item of data" >
    
    
      <ion-card-content *ngIf="item.namaPage != 'Data Page Tidak Ada!'">
        <ion-card-title>
          {{ item.nm_barang }}
        </ion-card-title>
    
        <ion-item  text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
          <ion-label class="label label-md" style="min-height: 29px; padding-bottom: 0%; padding-top: 1%;">
                <b>
                  <h2>
                  Kode Barang
                    <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" 
                    style="
                    color: #d49624;
                    text-align:  right;
                    float:  right;
                    margin-bottom: 0px;
                    margin-right: 0px;
                    margin-top: -3px;
                    ">
                  </ion-icon>
                  </h2>
                </b>
                </ion-label>
              </ion-item>
              <div *ngIf="isGroupShown(i)"> 
              <ion-item text-wrap  style="background: #fbfbfb;">
                      <b><h3 style="font-weight:bold;color: #d49624;font-weight:bold;  margin-left: 6px;">
                          Kode Barang
                       </h3></b>
                      <h4 style="font-size: 12px;  margin-left: 6px;">
                        {{ item.id_barang }}
                      </h4>
              </ion-item>
    
                  <ion-item text-wrap  style="background: #fbfbfb;">
                      <b><h3 style="font-weight:bold;color: #d49624;font-weight:bold;  margin-left: 6px;">
                          ID Barang
                       </h3></b>
                      <h4 style="font-size: 12px;  margin-left: 6px;">
                        {{ item.idbi }}
                      </h4>
                  </ion-item>
    
                  <ion-item text-wrap  style="background: #fbfbfb;">
                      <b><h3 style="font-weight:bold;color: #d49624;font-weight:bold;  margin-left: 6px;">
                          ID Awal	
                       </h3></b>
                      <h4 style="font-size: 12px;  margin-left: 6px;">
                        {{ item.idawal }}
                      </h4>
                  </ion-item>
              </div>


              <ion-item  text-wrap (click)="toggleGroup1(i)">
                <ion-label class="label label-md" style="min-height: 29px; padding-bottom: 0%; padding-top: 1%;">
                      <b>
                        <h2>
                             Konstruksi Bangunan	
                          <ion-icon color="success" item-right [name]="isGroupShown1(i) ? 'arrow-dropdown' : 'arrow-dropright'" 
                          style="
                          color: #d49624;
                          text-align:  right;
                          float:  right;
                          margin-bottom: 0px;
                          margin-right: 0px;
                          margin-top: -3px;
                          ">
                        </ion-icon>
                        </h2>
                      </b>
                      </ion-label>
                    </ion-item>
                    <div *ngIf="isGroupShown1(i)"> 
                    
                      <ion-item text-wrap  style="background: #fbfbfb;">
                        <b><h3 style="font-weight:bold;color: #d49624;font-weight:bold;  margin-left: 6px;">
                          Bertingkat / Tidak
                         </h3></b>
                        <h4 style="font-size: 12px;  margin-left: 6px;">
                          {{ item.konstruksi_tingkat }}
                        </h4>
                      </ion-item>
        
                      <ion-item text-wrap  style="background: #fbfbfb;">
                            <b><h3 style="font-weight:bold;color: #d49624;font-weight:bold;  margin-left: 6px;">
                              Beton / Tidak
                             </h3></b>
                            <h4 style="font-size: 12px;  margin-left: 6px;">
                              {{ item.konstruksi_beton }}
                            </h4>
                      </ion-item>
                      
                  </div>
        
        
              
        <ion-item text-wrap>
            <b><h2> Urusan </h2></b>
            <h3>{{ item.urusan }}</h3>
        </ion-item>
    
        <ion-item text-wrap>
            <b><h2> Bidang </h2></b>
            <h3>{{ item.bidang }}</h3>
        </ion-item>
    
        <ion-item text-wrap>
            <b><h2> SKPD </h2></b>
            <h3>{{ item.skpd }}</h3>
        </ion-item>

        <ion-item text-wrap>
          <b><h2> Unit </h2></b>
          <h3>{{ item.unit }}</h3>
      </ion-item>

      <ion-item text-wrap>
        <b><h2> Sub Unit </h2></b>
        <h3>{{ item.subUnit }}</h3>
    </ion-item>

    <ion-item text-wrap *ngIf="item.alamat">
        <b><h2> Alamat </h2></b>
        <h3>{{ item.alamat }}</h3>
      </ion-item>
  
     <ion-item text-wrap *ngIf="item.rt || item.rw">
        <b><h2> RT / RW </h2></b>
        <h3>{{ item.rt }} / {{ item.rw }}</h3>
      </ion-item>
  
  
      <ion-item text-wrap>
          <b><h2> Kelurahan </h2></b>
          <h3>{{ item.kelurahan }}</h3>
       </ion-item>
  
      <ion-item text-wrap>
          <b><h2> Kecamatan </h2></b>
          <h3>{{ item.kecamatan }}</h3>
       </ion-item>
  
      <ion-item text-wrap>
            <b><h2> Kota / Kabupaten </h2></b>
            <h3>{{ item.kota }}</h3>
      </ion-item>


      <ion-item text-wrap *ngIf="item.luas">
          <b><h2>Luas</h2></b>
          <h3>{{ item.luas }}</h3>
      </ion-item>
        
      <ion-item text-wrap >
        <b><h2>Tahun Perolehan</h2></b>
        <h3>{{ item.thn_perolehan }}</h3>
    </ion-item>

      <ion-item text-wrap >
        <b><h2>Cara Perolehan</h2></b>
        <h3>{{ item.asal_usul }}</h3>
      </ion-item>
  
      <ion-item text-wrap >
        <b><h2>Sumber Dana</h2></b>
        <h3>{{ item.jns_hibah }}</h3>
      </ion-item>
  
      <ion-item text-wrap >
        <b><h2>Status Barang</h2></b>
        <h3>{{ item.status_barang }}</h3>
      </ion-item>
  
  
      <ion-item text-wrap >
        <b><h2>Kondisi</h2></b>
        <h3>{{ item.kondisi }}</h3>
      </ion-item>

      <ion-item text-wrap *ngIf="item.luas">
        <b><h2>Luas Lantai</h2></b>
        <h3>{{ item.luas_lantai }}</h3>
    </ion-item>
    
      </ion-card-content>
    
    
    </ion-card>
    


</ion-content>
