page-listlayout {
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #fff;
        color: #000;
    }
    .section-active {
        background: #568ebb;
        color: #fff;
    }
 
    .child {
        background: #e8e7e6;
        color: #000;
    }
    .child-item {
        background: #d4e2ec;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
    }
}