page-search {
  .header-content {
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
    
    


  }
  .input-wrappers{
    height: 0px !important;
  }
  


}
