page-cari-skpd {
    ion-input.floating-with-placeholder{
        input:focus::-webkit-input-placeholder { color:gray; }
        input:focus:-moz-placeholder { color:gray; }
        input:focus::-moz-placeholder { color:gray; }
        input:focus:-ms-input-placeholder { color:gray; }
        input::-webkit-input-placeholder { color:transparent; }
        input:-moz-placeholder { color:transparent; }
        input::-moz-placeholder { color:transparent; }
        input:-ms-input-placeholder { color:transparent; }
    }
}
